@import url(variables.css);
@import url(constantes.css);

.absolute-center {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

body {
    background-color: var(--negro);
}

.dg.ac{
    display: none;
}

.pantalla {
    height: 100vh;
}
a{
    text-decoration: none;
    color: var(--letras);
    text-transform: inherit;
}

.lateral-izquierdo{
    right: 95%;
    top: 50%;
    transform: rotate(270deg);
}
.fixed {
    position: fixed;
}
.lateral-derecho {
    top: 50%;
    left: 85%;
    display: inline;
    white-space: nowrap;
    transform: rotate(90deg);
}
.lateral-derecho a:nth-child(1) {
    margin-right: 20px;
}
.header{
    width: 100%;
    left: 0;
    text-align: center;
    top: 5%;
}
header a{
    font-size: 20px;
}
a:hover {
    color: white;
    transition: 0.5s;
}

.caja, .caja2, .caja3 {
    position: absolute;
    height: 30vh;
    width: 60vw;
    left: 20vw;
    border: 1px solid grey;
}
.caja{
    top: 35%;
    left: 40%;
    width: 20%;
    color: white;
    text-align:center;
    border: 0;
}
.caja h1 {
    padding: 20px 0px 50px 0;
    font-size: 5em;
    display: inline!important;
}
.caja2{
    top: 135%;
    transition: all 1s;
}
.caja2 img {
    z-index: 1;
    display: block;
    margin: 0 auto;
    height: 30vh;
    transition: all 1s;
}
.caja2 img:hover {
    opacity: 0.5;
}
.caja3 {
    top: 235%;
    transition: all 1s;
}
.animado {
    opacity: 0.5;
}
.desdeArriba {
    animation: desdeArriba 1s;
    opacity: 1!important;
}
.desdeAbajo {
    animation: desdeAbajo 1s;
    opacity: 1!important;
}

@keyframes desdeArriba {
    0% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes desdeAbajo {
    0% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(0);
    }
}

.swiper-container,
.swiper-wrapper,
.swiper-slide{
    height: 100vh;
}

.swiper-slide-active {
    opacity: 1;
    width: 20vw;
    margin-left: 40vw;
}
.my-gallery figure {
    margin: 0px;
  }

.grid-2{
    display: grid;
    grid-template-columns: 50% 50%;
}