@import url(variables.css);
@import url(constantes.css);

.absolute-center {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

body {
    background-color: var(--negro);
}

.dg.ac{
    display: none;
}

.pantalla {
    height: 100vh;
}
a{
    text-decoration: none;
    color: var(--letras);
    text-transform: inherit;
}

.lateral-izquierdo{
    display: inline;
    white-space: nowrap;
}
.fixed {
    position: relative;
}
.lateral-derecho {
    display: inline;
    white-space: nowrap;
}
.lateral-derecho a:nth-child(1) {
    margin-right: 20px;
}
.header{
    width: 100%;
    left: 0;
    text-align: center;
    top: 5%;
}
header a{
    font-size: 20px;
    
}
a {
    color: rgb(204, 166, 166);

}
a:hover {
    color: white;;
    transition: 0.5s;
}

.caja{
    position: absolute;
    height: var(--alturaCaja);
    width: 40vw;
    left: 40vw;
    text-align: center;
    color: white;
    transition: all 1s ease-in-out;
}


.caja h1 {
    padding: 20px 0px 50px 0;
    font-size: 5em;
    display: inline!important;
}


.caja img {
    z-index: 1;
    display: block;
    margin: 0 auto;
    filter: brightness(0.5);
    height: var(--alturaCaja);
}
.caja img:hover {
    opacity: 0.5;
}

.animado {
    opacity: 0;
}
.desdeArriba {
    animation: desdeArriba 1s;
    opacity: 1!important;
}
.desdeAbajo {
    animation: desdeAbajo 1s;
    opacity: 1!important;
}

@keyframes desdeArriba {
    0% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes desdeAbajo {
    0% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(0);
    }
}

.swiper-container,
.swiper-wrapper{
    height: 100%;
}
.swiper-slide {
    height: 100vh;
}

.swiper-slide-active {
    opacity: 1;
    width: 20vw;
    margin-left: 40vw;
}
.my-gallery figure {
    margin: 0px;
  }

.grid-about{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    row-gap: 10px;
}
.swiper-slide .caja .text-hover {
    position: absolute;
    top: 20px;
    z-index: 3;
    opacity: 1;
    transition: all 0.2s ease-out;
}
nav {
    width: 10%;
    height: 100%;
    background-color: red;
}

.caja h4 {
    text-align: left;
}
button {
    background-color: #181818;
    border: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;

}
button:hover {
    cursor: pointer;
    background-color: black;
}